
.texto-rojo{
    color: rgb(236, 57, 57);
    font-weight: bold;
}
.texto-azul{
    color: rgb(37, 201, 223);
    font-weight: bold;
}
.texto-morado{
    color:rgb(129, 65, 129);
    font-weight: bold;
}