/* You can add global styles to this file, and also import other style files */
h1{
    background-color:rgb(196, 195, 195);
}
div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 8px;
}
.bold{
    font-weight: bold;
}
input[type=button]  {
    background-color: rgb(27, 13, 155); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:5px
}